h1{
    font-family: Arial;
    padding-left:25%; 
    color:#01F0B6;
}
h3{
    color:rgb(255,255, 255);
    font-family: sans-serif;
    padding-top:2%; 
}
body{
    background-color: #0180B6;
}

#picture{
    padding-right: 40%; 
    float:right;
   
}
img{
    width:200%;
    height:100%;
 
}
a{
    font-family: sans-serif;
    color:#FFFFFF;
    padding-left:25%; 
}

.words {
    padding-left:25%; 
    
  }


