.topContainer {
    width: 60vw;
    height: 47vh;
    display: flex;
    flex-direction: row;
    padding-top:3vh; 
}
.bottomContainer{
    width: 60vw;
    height: max-content;
    display: flex; 
    flex-direction: row;
    gap:30px; 
   
}

.project {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 10px;
    border: 1px solid #8cb3d4; 
    border-radius: 8px;
  
  
}

.projectTitle{
    color:#FFFFFF;
    text-align:center;
}


.encaps-img {
    width: 100%; 
    
}
.aes-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:65%;
}
.education-img{
    width:100%;
}

h1{
    font-family: Arial;
    float:right;
    color:#FFFFFF;
}

h3{
    color:white; 
    
}
.description{
    font-weight: normal;
    font-size:16px; 
}


p{
    color:white; 
}
body{
    background-color: #0180B6;
    display: flex;
    flex-direction:column;
    align-items: center;
    font-family: sans-serif;
    gap: 32px;
}

.words {
    width: 80%;
}

#linksWords{
    width: 60%;
    display:flex; 
    flex-direction: column;
    align-items: left;
    gap: 32px;
}

.portrait {
    width: 40%;
}

a{
    font-family: sans-serif;
    color:#FFFFFF;

}


.links {
    display: flex;
    flex-direction: column;
    gap: 16px;    
}


